<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="../../../Downloads/cars64.ru/favicon.ico" type="image/x-icon" />

    <title>Услуги - Выкуп битых авто после ДТП и аварии, кредитных автомобилей, авто премиум класса, за наличные, торги выгодно и быстро через аукцион</title>
	<meta name="description" content="Виды наших услуг: выкупаем битые автомобили после ДТП, кредитные автомобили, автомобили класса премиум. У нас есть быстрый и выгодный выкуп. Все продажи проходят через автомобильный аукцион">
	<link rel="canonical" href="http://cars64.ru/services.html">

    <!--=== Bootstrap CSS ===-->
    <link href="../../../Downloads/cars64.ru/assets/css/bootstrap.min.css" rel="stylesheet">
    <!--=== Slicknav CSS ===-->
    <link href="../../../Downloads/cars64.ru/assets/css/plugins/slicknav.min.css" rel="stylesheet">
    <!--=== Magnific Popup CSS ===-->
    <link href="../../../Downloads/cars64.ru/assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <!--=== Owl Carousel CSS ===-->
    <link href="../../../Downloads/cars64.ru/assets/css/plugins/owl.carousel.min.css" rel="stylesheet">
    <!--=== Gijgo CSS ===-->
    <link href="../../../Downloads/cars64.ru/assets/css/plugins/gijgo.css" rel="stylesheet">
    <!--=== FontAwesome CSS ===-->
    <link href="../../../Downloads/cars64.ru/assets/css/font-awesome.css" rel="stylesheet">
    <!--=== Theme Reset CSS ===-->
    <link href="../../../Downloads/cars64.ru/assets/css/reset.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="../../../Downloads/cars64.ru/style.css" rel="stylesheet">
    <!--=== Responsive CSS ===-->
    <link href="../../../Downloads/cars64.ru/assets/css/responsive.css" rel="stylesheet">


    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="loader-active">

    <!--== Preloader Area Start ==-->
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="../../../Downloads/cars64.ru/assets/img/preloader1.gif" alt="JSOFT">
            </div>
        </div>
    </div>
    <!--== Preloader Area End ==-->

    <!--== Header Area Start ==-->
    <header id="header-area" class="fixed-top">
        <!--== Header Top Start ==-->
        <div id="header-top" class="d-none d-xl-block">
            <div class="container">
                <div class="row">
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-left">
                        <i class="fa fa-map-marker"></i> 410000, Саратов, ул. Шелковичная д. 11/15
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-mobile"></i> +7 967 80 44 111
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-clock-o"></i> Пн-Вс 07.00 - 21.00
                    </div>
                    <!--== Single HeaderTop End ==-->
                </div>
            </div>
        </div>
        <!--== Header Top End ==-->

        <!--== Header Bottom Start ==-->
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                    <!--== Logo Start ==-->
                    <div class="col-lg-4">
                        <a href="index.html" class="logo">
                            <img src="../../../Downloads/cars64.ru/assets/img/logo1.png" alt="JSOFT">
                        </a>
                    </div>
                    <!--== Logo End ==-->

                    <!--== Main Menu Start ==-->
                    <div class="col-lg-8 d-none d-xl-block">
                        <nav class="mainmenu alignright">
                            <ul>
                                <li><a href="index.html">Главная</a></li>
                                <li><a href="about.html">О нас</a></li>
                                <li  class="active"><a href="services.html">Услуги</a></li>
                                <li><a href="contact.html">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--== Main Menu End ==-->
                </div>
            </div>
        </div>
        <!--== Header Bottom End ==-->
    </header>
    <!--== Header Area End ==-->

    <!--== Page Title Area Start ==-->
    <section id="page-title-area" class="section-padding overlay">
        <div class="container">
            <div class="row">
                <!-- Page Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Услуги, которые мы оказываем:</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Самостоятельные поиски покупателя, нотариальная волокита и прочие нюансы продажи автомобиля могут занять недели, а порой – даже месяцы. Наш сервис Cars64.ru решает поставленные задачи в сжатые сроки, предлагая срочный выкуп автомобилей всех марок и моделей. Срочный выкуп автомобилей с выездом специалиста на осмотр возможен для разных жизненных ситуаций:</p>
                    </div>
                </div>
                <!-- Page Title End -->
            </div>
        </div>
    </section>
    <!--== Page Title Area End ==-->

    <!--== Service Page Content Start ==-->
    <section id="service-page-wrapper" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Single Services Start -->
                    <div class="single-service-item">
                        <div class="service-item-thumb ser-thumb-bg-1"></div>
                        <div class="service-item-content">
                            <h3>Выкуп битых и аварийных автомобилей после ДТП</h3>
                            <p>Редкий автомобилист не сталкивался с серьезными ДТП, проживая в Саратове. Техника, получившая повреждения, ставит владельца перед дилеммой — заняться восстановлением транспортного средства, либо продать авто в Саратове специализированной компании. 
Ремонтировать технику — хлопотное, неблагодарное занятие, отнимающее немало времени, материальных ресурсов. Практика показывает, что поиск нормального сервиса, заказ комплектующих, процесс ожидания, в переводе на финансовый язык — совершенно себя не оправдывают. За эти недели, месяцы, автовладелец лишен возможности нормального досуга. Такая «ненормированная» занятость пагубно сказывается на настроении и семейных отношениях. Выручить способен срочный выкуп битых авто, у такого решения немало явных преимуществ.</p>
                        </div>
                    </div>
                    <!-- Single Services End -->

                    <!-- Single Services Start -->
                    <div class="single-service-item">
                        <div class="service-item-thumb ser-thumb-bg-2 d-lg-none d-md-block"></div>
                        <div class="service-item-content">
                            <h3>Срочный выкуп кредитного авто</h3>
                            <p>Оформляя автокредит, не каждый человек может точно спрогнозировать уровень своих доходов в будущем. В результате новый автомобиль вместо положительных эмоций будет приносить негатив в виде неподъемных ежемесячных выплат. Наша компания поможет выгодно и безопасно избавиться от этого бремени</p>
                        </div>
                        <div class="service-item-thumb ser-thumb-bg-2 d-none d-lg-block d-md-none"></div>
                    </div>
                    <!-- Single Services End -->

                    <!-- Single Services Start -->
                    <div class="single-service-item">
                        <div class="service-item-thumb ser-thumb-bg-3"></div>
                        <div class="service-item-content">
                            <h3>Быстрый выкуп за наличный расчёт</h3>
                            <p>Хотите поскорее продать свой авто? Устали ждать звонков от частных покупателей, торговаться и слушать претензии о состоянии автомобиля? Оставляйте заявку – и мы купим Ваш авто быстро, дорого, без лишних претензий и вопросов. Выкуп авто за наличные – это очень удобная и выгодная услуга, преимущества которой успели оценить многие клиенты нашей компании. Оцените их и вы!</p>
                        </div>
                    </div>
                    <!-- Single Services End -->

                    <!-- Single Services Start -->
                    <div class="single-service-item">
                        <div class="service-item-thumb ser-thumb-bg-4 d-lg-none d-md-block"></div>
                        <div class="service-item-content">
                            <h3>Выкуп автомобилей примиум класса</h3>
                            <p>Хотите решить внезапно возникшие финансовые вопросы путем реализации автомобиля премиального сегмента? Не знаете, к кому обратиться за помощью? Самый простой способ устранения проблем предлагает наш сервис Cars64.ru. С нами дорогой авто возможно продать в день обращения. Авто выкуп осуществляется по максимальной стоимости в короткие сроки.</p>
                        </div>
                        <div class="service-item-thumb ser-thumb-bg-2 d-none d-lg-block d-md-none"></div>
                    </div>
                    <!-- Single Services End -->
                </div>
            </div>
        </div>
    </section>
    <!--== Service Page Content End ==-->
	
        <!--== Footer Area Start ==-->
    <section id="footer-area">
        <!-- Footer Widget Start -->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    

                    

                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>Контакты</h2>
                            <div class="widget-body">
                                <p>Мы находимся в центре Саратова, наш оценщик может выехать в любую точку Саратова и области, также мы доступны в Viber, What's App, Telegram. Ещё Вы можете оставить свой контактый телефон в заявке на оценку или просто позвонить нам</p>

                                <ul class="get-touch">
                                    <li><i class="fa fa-map-marker"></i> 410000, Саратов, ул. Шелковичная д. 11/15</li>
                                    <li><i class="fa fa-mobile"></i> +7 967 80 44 111 </li>
                                    <li><i class="fa fa-envelope"></i> mail@cars64.ru</li>
                                </ul>
                                <a href="https://goo.gl/maps/2z3t6S2vY1B2" class="map-show" target="_blank">Показать местоположение</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->

        <!-- Footer Bottom Start -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Cars64.ru — сайт выкупа автомобилей в Саратове.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </section>
    <!--== Footer Area End ==-->

    <!--== Scroll Top Area Start ==-->
    <div class="scroll-top">
        <img src="../../../Downloads/cars64.ru/assets/img/scroll-top.png" alt="JSOFT">
    </div>
    <!--== Scroll Top Area End ==-->

    <!--=======================Javascript============================-->
    <!--=== Jquery Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/jquery-3.2.1.min.js"></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/jquery-migrate.min.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/bootstrap.min.js"></script>
    <!--=== Gijgo Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/plugins/gijgo.js"></script>
    <!--=== Vegas Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/plugins/vegas.min.js"></script>
    <!--=== Isotope Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/plugins/isotope.min.js"></script>
    <!--=== Owl Caousel Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/plugins/owl.carousel.min.js"></script>
    <!--=== Waypoint Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/plugins/waypoints.min.js"></script>
    <!--=== CounTotop Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/plugins/counterup.min.js"></script>
    <!--=== YtPlayer Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/plugins/mb.YTPlayer.js"></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/plugins/magnific-popup.min.js"></script>
    <!--=== Slicknav Min Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/plugins/slicknav.min.js"></script>

    <!--=== Mian Js ===-->
    <script src="../../../Downloads/cars64.ru/assets/js/main.js"></script>

</body>

</html>
